# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
*.egg-info/
dist/
build/

# Django
*.sqlite3
media/
staticfiles/

# Node
node_modules/
frontend/build/
frontend/.env

# IDE
.vscode/
.idea/
*.DS_Store

backend/data_backup.json