Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
twilio==8.10.0
python-decouple==3.8
Pillow==10.4.0
django-filter==23.5
apscheduler==3.10.4
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0
setuptools==69.0.0